# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\.developments\C++\TrippleUnknown\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
